
  <ion-content [fullscreen]="true">

    <div class="header_banner">
      <div class="header_overlay">
         <div class="icon_conatiner">

          <ion-row>
           <ion-col size="2" ><ion-back-button defaultHref="tablinks"></ion-back-button></ion-col>
           <ion-col size="1" offset="7"><ion-icon  class="_cart_icon" name="bag-handle-outline"></ion-icon></ion-col>
           <ion-col size="2" ><ion-menu-button item-right class="_menu_icon"></ion-menu-button></ion-col>
          
          </ion-row>
          <ion-row><ion-label class="header_title">My WishList</ion-label></ion-row>
         </div>
   
      </div>
    </div>
    <ion-row>
        <label class="total_item">2 Items</label>
        
    </ion-row>
    <ion-list class="list_container">
        <ion-row class="list_row"  *ngFor="let card of [0,1] ">
        
           <ion-col size=4>
           
              <img style=" width: 108px; height: 108px;border-radius: 5px;" src="../../../assets/sample.jpg">
      
           </ion-col>
  
           <ion-col size=7>
            <ion-row><label class="p_title">Fit and Lift Gym Center</label></ion-row>
            <ion-row> <label class="p_sub_title">Marcus</label></ion-row>
            <ion-row> <label class="p_price">$4000.00</label></ion-row>
            <ion-row>
                <ion-col size=7><button class="save_">Add To Cart</button></ion-col>
                <ion-col size=3 offset="1"><button class="_remove" color="danger" ><ion-icon name="trash"></ion-icon></button></ion-col>
            </ion-row>
           
          </ion-col>
  
        </ion-row>
       
      </ion-list>
    
  
  </ion-content>