
  <ion-content class="popup_box">
    <ion-row>
      <img class="correct_symbol" src="../../../../assets/success.png">
    </ion-row>
    <ion-row><ion-label class="p_title" >Confirm Class Booking</ion-label></ion-row>
    <ion-row><ion-label class="p_sub">Would you like to book the class ?</ion-label></ion-row>
    <ion-row class="button_container">
      <ion-buttons style="width: 80%;margin: 0px auto;">
        <ion-button class="action_button_yes"(click)="checkout()" >Yes</ion-button>
        <ion-button class="action_button_no" (click)="dismiss()" >No</ion-button>
      </ion-buttons>
   
    </ion-row>
  </ion-content>