

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="home-outline"></ion-icon>
         
        </ion-tab-button>
  
        <ion-tab-button (click)="openWhatsapp()">
            <ion-icon name="logo-whatsapp"></ion-icon>
         
        </ion-tab-button>

        <ion-tab-button tab="history">
            <ion-icon name="timer-outline"></ion-icon>
        
          </ion-tab-button>

          <ion-tab-button tab="profile" >
            <ion-icon name="person-outline"></ion-icon>
          
          </ion-tab-button>
      </ion-tab-bar>
      <!-- <a id ="openWhatsapp" style="padding:5px;"href="https://wa.me/5959333033226?text=Hello%20world">Link</a> -->
    </ion-tabs>
  
 