<ion-header style="position: absolute;"  class="ion-no-border">
   
    <ion-toolbar class="app_toolbar">
      <ion-buttons (click)="back()" slot="start">
        <ion-icon class="toolbar_buttons" name="arrow-back"></ion-icon>
    </ion-buttons>
      
    <ion-buttons slot="primary" style="display: none;" (click)="presentPopover($event)">
        <div class="ion-activatable">
            <ion-icon class="info_icon" name="ellipsis-vertical-outline"></ion-icon>
            
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </div>
    </ion-buttons>
     
    </ion-toolbar>

  </ion-header>
<ion-content [fullscreen]="true">
    <img width="100%" src="{{img}}{{details.ImagesFiles}}"   onError="src='../../../assets/yoga.jpeg'" > 
  
    <div class="container_box">
     
     <ion-row>
        <ion-col size=8 >
            <ion-row><label class="p_title">{{details.ClassTitle}}</label></ion-row>
            <ion-row><label class="p_location">{{details?.branchName}}</label></ion-row>
            <ion-row><label class="p_location"><ion-icon name="location-outline"></ion-icon>{{details.Locations}}</label></ion-row>
        </ion-col> 
       
        
        </ion-row>
        <ion-row>
          
          <ion-col size=4><label class="p_price">AED {{details.ClassFees}}</label></ion-col>
   </ion-row>  
     <ion-row class="divder"> </ion-row>
     
      
      <div class="detail_container">
        <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="accessibility-outline"></ion-icon> Trainer Name</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.TrainerName}}</ion-label></ion-col> 
           </ion-row>
           <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="time-outline"></ion-icon> Time</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.ClassStartTime}}</ion-label></ion-col> 
           </ion-row>
           <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="calendar-number-outline"></ion-icon> Date</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{selectedDate}}</ion-label></ion-col> 
           </ion-row>
          <!-- <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="bag-check-outline"></ion-icon> Space</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.TotalSeats}}</ion-label></ion-col> 
           </ion-row>
           <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="checkmark-done-outline"></ion-icon> Booked</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.TotalSeats-details.AvailableSeats}}</ion-label></ion-col> 
           </ion-row>
           <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="hourglass-outline"></ion-icon> Waiting</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.WaitingSeats}}</ion-label></ion-col> 
           </ion-row>
           <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="thumbs-up-outline"></ion-icon> Available</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.AvailableSeats}}</ion-label></ion-col> 
           </ion-row>
            <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="calendar-number-outline"></ion-icon> Start Date</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.ClassStartDate}}</ion-label></ion-col> 
           </ion-row>
           <ion-row>
            <ion-col size=5><ion-label class="detail_name" ><ion-icon class="detail_icon" name="calendar-number-outline"></ion-icon> End Date</ion-label></ion-col> 
            <ion-col size=6><ion-label class="detail_value" >{{details.ClassEndDate}}</ion-label></ion-col> 
           </ion-row>      -->
      </div>      
          
      <ion-row class="divder"> </ion-row>
            
      <ion-button class="login_button" (click)="addCart()" >Book Now</ion-button>

      <ion-row>
        <ion-col ><label class="bottom_text" (click)="addCart()"  >Add to Cart</label> </ion-col>
        <!-- <ion-col offset=2><label class="bottom_text" (click)="addwish()" >Add to Wishlist</label></ion-col> -->
      </ion-row>
     
    </div>

</ion-content>
