<ion-content [fullscreen]="true" >
    <div class="body_container">
     <div class="body_overlay">
         <ion-row>
             <ion-col size="4" offset="4">
               <img class="logo_container" src="../../../assets/second_logo.png" alt="logo-image"/>
             </ion-col>
        </ion-row>
        <ion-grid class="login_container">
        <label class="input_lable">Email</label>
        <ion-row class="input_box">
         <ion-col  size="1">
             <ion-icon class="input_icon" name="mail-outline"></ion-icon>
         </ion-col>
         <ion-col size="9">
            <ion-input class="input_text" [(ngModel)]="user_email"  value="johndoe@gmail.com" ></ion-input>
           </ion-col>
    </ion-row>
 
    <label class="input_lable">Name</label>
    <ion-row class="input_box">
     <ion-col  size="1">
         <ion-icon  class="input_icon" name="person"></ion-icon>
     </ion-col>
     <ion-col size="8.9">
        <ion-input class="input_text"  [(ngModel)]="user_name"  ></ion-input>
       </ion-col>
       <ion-col  size="1">
        
     </ion-col>
      
</ion-row>
  
<label class="input_lable">Password</label>
<ion-row class="input_box">
 <ion-col  size="1">
     <ion-icon  class="input_icon" name="lock-closed-outline"></ion-icon>
 </ion-col>
 <ion-col size="8.9">
    <ion-input class="input_text" [(ngModel)]="user_password"  [type]="password_type"></ion-input>
   </ion-col>
   <ion-col  size="1">
     <ion-icon name="eye" class="input_icon" item-right (click)="togglePasswordMode()"></ion-icon>
 </ion-col>
  
</ion-row>

 
   
<ion-button class="_button" (click)="register()" >REGISTER</ion-button>
    
     
     </ion-grid>
   </div>
 
 </div>
 
 <div class="footer_text"><span class="footer_pre">ReConnect</span>@ is part of IFA Group.All Rights Reserved.</div>
 </ion-content>
 
  