
  <ion-content [fullscreen]="true">

    <div class="header_banner">
      <div class="header_overlay">
         <div class="icon_conatiner">

          <ion-row>
           <ion-col size="2" ><ion-back-button defaultHref="tablinks"></ion-back-button></ion-col>
           <ion-col size="1" offset="7"><ion-icon  class="_cart_icon" name="bag-handle-outline"></ion-icon></ion-col>
           <ion-col size="2" ><ion-menu-button item-right class="_menu_icon"></ion-menu-button></ion-col>
          
          </ion-row>
          <ion-row><ion-label class="header_title">Gym Booking</ion-label></ion-row>
         </div>
   
      </div>
    </div>
   

    <div class="container_view">
    <div class="exapandable_view"  (click)="toggle()">
        <ion-row>
            <ion-col size="9">Select Property </ion-col>
            <ion-col size="1" offset="2"><ion-icon name="{{icon_name}}"></ion-icon></ion-col>
        </ion-row>
    </div>
 
     <ng-container *ngIf="show_container_one; ">
         <div  class="expandable_container">
          <ion-grid>
      
            <ion-row>
             <ion-col>
               <ion-card class="day_passess" (click)="select_branch(1)" >
                   <ion-card-content [ngClass]="this.activaLayer == 1 ? 'active_layer' : 'black_layer'">
                     <h1 class="card_lable"   >Fairmont The Palm</h1>
      
                   </ion-card-content>
               </ion-card>
             </ion-col>
             <ion-col>  
               <ion-card class="gym_booking" (click)="select_branch(2)" >
                 <ion-card-content [ngClass]="this.activaLayer == 2 ? 'active_layer' : 'black_layer'">
                   <h1 class="card_lable"   >Riva The Palm</h1>
                 
                 </ion-card-content>
             </ion-card></ion-col>
            </ion-row>
     
            <ion-row>
             <ion-col>
               <ion-card class="class_booking" (click)="select_branch(3)"  >
                   <ion-card-content [ngClass]="this.activaLayer == 3 ? 'active_layer' : 'black_layer'">
                     <h1 class="card_lable" >Movenpick JLT</h1>
                    
                   </ion-card-content>
               </ion-card>
             </ion-col>
             <ion-col>  
               <ion-card class="vouchers" (click)="select_branch(4)">
                 <ion-card-content [ngClass]="this.activaLayer == 4 ? 'active_layer' : 'black_layer'">
                   <h1 class="card_lable" >TH8 The Plam</h1>
                  
                 </ion-card-content>
             </ion-card></ion-col>
            </ion-row>
     
            
         
           </ion-grid>  
         </div>     
     </ng-container>

     <div class="exapandable_view"  (click)="toggle2()">
         <ion-row>
             <ion-col size="9">Select Date & Time</ion-col>
             <ion-col size="1" offset="2"><ion-icon name="{{icon_name_two}}"></ion-icon></ion-col>
         </ion-row>
     </div>
  
      <ng-container *ngIf="show_container_two; ">
          <div  class="expandable_container">

            <div class="date_box">
              <label class="month_name">{{this.monthname}}</label>
            
               <ion-item class="ion-no-padding"  lines="none">
                <ion-slides pager="false" size="8" [options]="slideOptions" #slideWithNav>
                  <ion-slide   (click)="load_date(item)" style="width: 58px;
                  height: 58px;margin-right: 10px;" *ngFor="let item of this.allDays; " >
                    <ion-label  [ngClass]="item.date == this.selected_day ? 'date_conatiner_active' : 'date_conatiner'" >{{item.day_name}}<br>{{item.date}}</ion-label>
                  </ion-slide>
                
                   </ion-slides>
                  <label class="arrow_right" (click)="next_month()" size="8"><ion-icon name="arrow-forward-outline"></ion-icon></label>
                </ion-item>
            
            </div>

          </div>
          <div class="time_container">
            <ion-row>
              <ion-col  [ngClass]="i == this.activatime ? 'time_slot_active' : 'time_slot'"  size="3" *ngFor="let item of time; let i=index" (click)="select_time(i)">{{item}}</ion-col>
            </ion-row>
          </div>     

          
      </ng-container>
      <ion-button class="login_button" (click)="presentActionSheet()" >Book Now</ion-button>
        
 </div>
      
  
    
    
  </ion-content>