
  <ion-content [fullscreen]="true">

    <div class="header_banner">
      <div class="header_overlay">
         <div class="icon_conatiner">

          <ion-row>
           <ion-col size="2" ><ion-back-button defaultHref="tablinks"></ion-back-button></ion-col>
           <ion-col size="1" offset="7" *ngIf="classcartOrder?.length==0"  (click)="cart()"><ion-icon  class="_cart_icon" name="bag-handle-outline"></ion-icon></ion-col>
           <ion-col size="1" offset="7" *ngIf="classcartOrder?.length!=0"  (click)="cart()"><ion-icon  class="_cart_icon" name="bag-handle"></ion-icon></ion-col>
           <ion-col size="2" ><ion-menu-button item-right class="_menu_icon"></ion-menu-button></ion-col>
          
          </ion-row>
          <ion-row><ion-label class="header_title">Class Booking</ion-label></ion-row>
         </div>
         <ion-col size="7" ><img class="right_logo" src="../../../assets/second_logo.png"/></ion-col>
      </div>
    </div>
     
  
    
      <ion-slides  [options]="slideOptsThumbs" pager="false" class="class_sliders" >
        <ion-slide class="_card" *ngFor="let item of this.classCategory ; index as i "  (click)="load_clasess(i,item)">
      
         <img style=" border-radius: 5px;" src="{{img}}{{item.ImagesFiles}}" onError="src='../../../assets/all.png'" >
         <div class="item_container"  [ngClass]="i==selectedposition?'activeoverlay':''">  <label class="card_lable">{{item.CategoryName}}</label> </div>
        
     
        </ion-slide>
        
 
    </ion-slides>

      
    <div class="date_box" >
      <label class="month_name">{{this.monthname}}</label>
    
       <ion-item class="ion-no-padding"  lines="none">
        <ion-slides pager="false" size="8" [options]="slideOptions" #slideWithNav>
          <ion-slide   (click)="load_date(item)" style="width: 58px;
          height: 58px;margin-right: 10px;" *ngFor="let item of this.allDays; " >
            <ion-label  [ngClass]="item.date == this.selected_day ? 'date_conatiner_active' : 'date_conatiner'" (click)="seletctedDay(item.day_name)">{{item.day_name}}<br>{{item.date}}</ion-label>
          </ion-slide>
        
           </ion-slides>
          <!-- <label class="arrow_right" (click)="next_month()" size="8"><ion-icon name="arrow-forward-outline"></ion-icon></label> -->
        </ion-item>
    
    </div>

    <ion-list class="list_container" *ngIf="selectedposition!=undefined && selectedDate!=undefined">
     
      <ion-row  (click)="booking(item)"  [ngClass]="(item % 2 ==0) ? 'list_row' : 'list_row_even' " *ngFor="let item of classListingDataHolder  index as i ">
        
        <ion-col size=3 class="time_la" >
          <div>
         <ion-icon class="time_la_icon" name="time-outline"></ion-icon>
         <ion-label > {{item.ClassStartTime}}</ion-label>
        </div>
        </ion-col>

        <ion-col >
         <ion-row><label class="p_title">{{item.ClassTitle}}</label></ion-row>
         <ion-row><label class="p_sub_title">{{getBranchName(item)}}</label></ion-row>
         <ion-row> <label class="p_sub_title"><ion-icon name="person-circle-outline"></ion-icon> {{item.TrainerName}}</label></ion-row>
         <ion-row> <label class="p_sub_title"><ion-icon name="location"></ion-icon> {{item.Locations}}</label></ion-row>
        
       </ion-col>

       <ion-col class="seats"  [ngStyle]="{'background': getcolor(item)}" size=3.2 >
        
        <ion-row >
          <ion-col>
          <ion-label class="no_seats_lable_res"> {{avilabletext}}</ion-label>
        </ion-col>
        </ion-row>
      
     
     </ion-col>
      </ion-row>
    </ion-list>
    <ion-row  style="text-align: center;"    *ngIf="classListingDataHolder.length==0 || classListingDataHolder==undefined"><label class="p_title">No Class Found</label></ion-row>
   
  </ion-content>